/* Genel stiller */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Ana içerik bölümü */
main {
  width: 100%;
  padding: 20px; /* Kenar boşluğu ekleyelim */
}

/* Hakkında bölümü */
.About {
  padding-top: 5%;
  width: 100%;
}

/* İçerik 1 */
.Content-1 {
  position: relative;
  width: 100%;
}

/* İçerik 1 resim */
.Content-1-img {
  width: 100%;
  overflow: hidden;
}

/* İçerik başlığı */
.Content-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}

/* İçerik alt başlık */
.Content-subject {
  color: #fff;
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.Content-subject p {
  color: #fff;
  text-align: left;
}

/* Yazılar arası boşluk */
.Content-subject-1,
.Content-subject-2,
.Content-subject-3,
.Content-subject-4,
.Content-subject-5 {
  margin-bottom: 10px;
}


/*600px altında footer kısmındaki logolar ve yazı font-size küçültülmeli*/

/*mobile styles*/
.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.Content-subject-All{
  grid-column: 1/1;
  grid-row: 1;
}

.Contentİmg-1{
  width: auto;
  height: auto;
}

.Content-subject {
  width: 100%;
  bottom: 0;
  top: auto;
  transform: none;
  color: black;
}
.Content-title h1{
  font-size: 15px;
  color: black;
}

.Content-subject p{
  color: #000;
  background-color: #fff;
}

.Content-subject-1,
.Content-subject-2,
.Content-subject-3,
.Content-subject-4,
.Content-subject-5 {
  font-size: 10px;
  color: black;
}

.Content-video {
  grid-column: 1/1;
  grid-row: 1;
}

.Content-video-title{
  width: 100%;
  font-size: 5px;
  font-weight: bold;
  text-align: center;
}

/* small tablet styles */
@media screen and (min-width: 620px){

  .Contentİmg-1{
    width: auto;
    height: auto;
  }

  .Content-subject {
    width: 100%;
    bottom: 0;
    top: auto;
    transform: none;
    color: black;
  }
  .Content-title h1{
    font-size: 15px;
    color: black;
  }

  .Content-subject p{
    color: #000;
    background-color: #fff;
  }

  .Content-subject-1,
  .Content-subject-2,
  .Content-subject-3,
  .Content-subject-4,
  .Content-subject-5 {
    font-size: 10px;
    color: black;
  }

  .Content-video-title{
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }

}


/*large tablets & laptop styles*/
@media screen and (min-width: 960px){

  #root{
    width: 100%;
  }

  .Content-1{
    width: 70%;
    margin: 0 auto;
  }

  .Content-1 img{
    width: 100%;
  }

  .Content-subject {
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }

  .Content-title h1{
    font-size: 30px;
    color: #fff;
  }

  .Content-subject p{
    color: #fff;
    background-color: transparent;
  }

  .Content-subject-1,
  .Content-subject-2,
  .Content-subject-3,
  .Content-subject-4,
  .Content-subject-5 {
    font-size: 25px;
    color: #fff;
  }

  .Content-video-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .video{
    width: 70%;
    margin: 0 auto;
  }

} 

/*desktop styles*/
@media screen and (min-width: 1200px){

  #root{
    width: 100%;
  }

  .Content-1{
    width: 80%;
    margin: 0 auto;
  }
  .Content-1 img{
    width: 100%;
  }
  .Content-subject {
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }

  .Content-title h1{
    font-size: 45px;
    color: #fff;
  }

  .Content-subject p{
    color: #fff;
    background-color: transparent;
  }

  .Content-subject-1,
  .Content-subject-2,
  .Content-subject-3,
  .Content-subject-4,
  .Content-subject-5 {
    font-size: 25px;
    color: #fff;
  }

  .Content-video-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .video{
    width: 80%;
    margin: 0 auto;
  }

}